body {
    background: rgb(14,244,254);
    background: linear-gradient(90deg, rgba(14,244,254,1) 0%, rgba(9,121,103,1) 0%, rgba(0,212,255,1) 100%);
}

.head {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: -webkit-linear-gradient(rgb(4, 231, 163), rgb(226, 226, 226));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 33%;
    margin-top: 10%;
    font-size: 70px;
}
.head2 {
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 21%;
    margin-top: -1%;
    font-size: 60px;
}

.bhead {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 41px;
    color: black;
}

.brands { 
    margin-top: -28px;
    height: 72px;
    margin-left: 12%;
    font-size: 38px;
    font-weight: bold;
    border-radius: 20px;
    color: black;
    background: transparent;
    border: 2px solid black;
}

.num1 {
    margin-left: 70px;
}

.num2 {
    margin-left: 700px;
    margin-top: -185px;
}

#btn {
    margin-left: 40%;
    margin-top: 25px;
    color: azure;
    font-weight: bold;
    height: 70px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    font-size: 30px;
    width: 10%;
}
#btn:hover{
    background-color: whitesmoke;
    color: black;

}
#result {
    font-size: 50px;
    font-weight: bold;
    margin-left: 150px;
}
#result ul{
    background-color: azure;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: -10%;
}

#result ul li {
    list-style: inside !important;
}